{% extends 'base.html.twig'%}
{% block body %}
    <h1>Bienvenue Admin</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga nisi adipisci debitis, reprehenderit accusamus corrupti, non eaque nam mollitia animi temporibus dolor assumenda tempora voluptate nihil exercitationem doloremque nemo aut ipsam quia amet quae? Recusandae similique ut saepe quae officia!Eius voluptatum, iure sint eveniet nam voluptates ut id quia quasi facilis quam debitis perferendis ea libero. Eveniet cupiditate nam cumque. Laudantium at obcaecati eligendi omnis temporibus cum animi similique commodi dolore. Ut repellendus delectus fugit sed in, dicta dolorem?</p>
    
{% endblock %}